<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

    <div class="h-screen">

        <div class="fixed bg-[#494D5F] text-white z-50 h-22 w-full flex justify-between items-center nav px-15 py-5 border-b-2 border-zinc-400">


            <div class="text-4xl mt-2">

                <a href="/shop">Scatch</a>

            </div>

            <div  class="flex items-center gap-10 mt-2 font-semibold">

                <a href="/shop">Shop</a>
                <a href="/cart" class="mr-13 flex relative border-b-2 border-zinc-400">
                    <div>Cart</div>
                    <div class="inline-block"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg></div>
                    <div class="top-[-10px] right-[-10px] absolute bg-red-400 px-1 rounded-[50%] text-white text-xs"><%= user.cart.length %></div>
                </a>
                <a href="/profile">My Account</a>
                <a href="/users/logout" class="bg-[#b23b3b] text-white rounded-lg px-2 py-1 mr-15">Logout</a>

            </div>

        </div>

        <div class="w-full min-h-full bg-gradient-to-br from-[#e0e7ef] via-[#b7c6d9] to-[#f7cac9] pt-30 px-15 pb-10 flex">

            <% let totalBill=0; let payBill=0; let totalDiscount=0; %>

            <div class="allItems mr-120 w-240 min-h-full flex flex-col gap-5 border-2 border-zinc-300">

                <% user.cart.forEach(item => { %>
                    <div class="shadow-lg bg-white p-2 pr-5">
                        <div class="w-full flex gap-5">

                            <div class="flex min-w-48 bg-[<%= item.product.bgcolor %>] justify-center rounded-lg items-center h-50">
                                <img class="h-[90%]" src="data:image/png;base64,<%= item.product.image.toString('base64') %>" alt="dfgh">
                            </div>

                            <div class="flex justify-between w-full">
                                <div class="w-full p-1 justify-between flex flex-col pb-2">

                                    <div>
                                        <div class="flex justify-between items-center">
                                            <div class="text-2xl font-bold"><%= item.product.name %></div>
                                        </div>
                                        <div>
                                            <div class="text-xl">&#8377 <%= item.product.price %></div>
                                        </div>
                                    </div>

                                    <div class="text-xs text-[#100855]">In stock</div>

                                    <div class="flex gap-5 items-center">
                                        
                                        <div><span class="tracking-tighter">Discounted Price :</span> &#8377 <%= item.product.price * (100 - item.product.discount) / 100 %></div>

                                        <% if(item.product.discount !== 0){ %>
                                            <div class="text-green-500 font-semibold text-sm">
                                                You saved &#8377 <%= item.product.price * item.product.discount / 100 %>
                                            </div>
                                        <% } %>

                                    </div>

                                    <div><span class="tracking-tighter">Delivery Fee :</span> &#8377 40</div>

                                    <div class="justify-self-end flex justify-between mt-2">
                                        <div class="flex justify-center items-center gap-2">
                                            <a href="/cart/decrease/<%= item.product._id %>"><div class="w-6 font-bold pb-1 flex justify-center items-center h-6 text-center border-2 rounded-full border-zinc-400">-</div></a>
                                            <div class="text-lg border-2 border-zinc-300 px-4"><%= item.count %></div>
                                            <a href="/cart/increase/<%= item.product._id %>"><div class="w-6 font-bold pb-1 flex justify-center items-center h-6 text-center border-2 rounded-full border-zinc-400">+</div></a>
                                        </div>
                                    </div>

                                </div>

                                <div class="text-right flex flex-col justify-between">
                                    <div>

                                        <% if(item.product.discount !== 0){ %>
                                        <div class="text-green-500 mb-1 text-center font-semibold w-20 justify-self-end text-white bg-green-500 px-1 rounded">
                                            <%= item.product.discount %>% Off
                                        </div>
                                        <% } %>
                                        
                                        <div class="text-xl font-extrabold mt-2">
                                            <% let itemTotal= item.product.price*(100-item.product.discount)/100*item.count + 40;
                                            payBill+=itemTotal; %>
                                            &#8377 <%= itemTotal %>
                                        </div>

                                        <% let itemMRP= item.product.price*item.count;
                                        totalBill+=itemMRP; %>

                                        <% let itemDiscount= itemMRP-itemTotal;
                                        totalDiscount+=itemDiscount+40; %>

                                        <% if(item.product.discount !== 0){ %>

                                            <div class="tracking-tighter text-sm text-zinc-500">M.R.P. : 
                                                <span class="line-through">&#8377 <%= itemMRP %></span>
                                            </div>
                                        
                                            <div class="tracking-tighter mt-4 text-sm text-zinc-500">Total saved : 
                                                <div class="font-bold text-lg text-green-500">&#8377 <%= itemDiscount %></div>
                                            </div>

                                        <% } %>

                                            
                                    </div>

                                    <div>
                                        
                                        <div class="justify-self-end flex justify-between mt-2 mb-2">
                                            <a href="/cart/removeItem/<%= item.product._id %>" class="text-[#BB271A] text-lg font-semibold flex items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#BB271A"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                                                <span class="text-sm">REMOVE</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                <% }) %>


            </div>

            <div class="totalbill top-30 right-25 w-95 px-5 fixed flex flex-col">

                <div class="bg-white px-5 pb-3">

                    <div class="border-b-2 border-zinc-400 border-dashed text-lg py-3 text-zinc-600 font-bold">
                        Cart Summary
                    </div>

                    <div class="flex flex-col border-b-2 border-dashed border-zinc-400 gap-5 pb-5 mt-5">
                        <div class="flex justify-between">
                            <div>Price</div>
                            <div>&#8377 <%= totalBill %></div>
                        </div>
                        <div class="flex justify-between">
                            <div>Discount</div>
                            <div class="text-green-500">- &#8377 <%= totalDiscount %></div>
                        </div>
                        <div class="flex justify-between">
                            <div>Delivery charges</div>
                            <div>&#8377 <%= user.cart.length*40 %></div>
                        </div>
                        <div class="flex justify-between">
                            <div>Platform Fee</div>
                            <div>&#8377 29</div>
                        </div>
                    </div>

                    <div class="flex justify-between py-5 font-bold text-xl border-b-1 border-zinc-300 border-dashed">

                        <div class="">Order Total</div>

                        <div>&#8377 <%= payBill + 29 %></div>

                    </div>

                    <div class="pt-2 text-green-500 font-semibold">

                        You will save &#8377 <%= totalBill - payBill - 29 %> on this order!

                    </div>

                </div>

                <a href="/" class="w-1/2 self-center">
                    <div class="bg-[#b23b3b] text-center w-full p-2 text-white rounded font-bold text-xl mt-8">
                        Place Order
                    </div>
                </a>

            </div>

        </div>

    </div>

</body>

</html>