<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

    <div class="h-screen">

        <div class="fixed bg-[#494D5F] text-white z-50 h-22 w-full flex justify-between items-center nav px-15 py-5 border-b-2 border-zinc-400">

            <div class="text-4xl mt-2">

                <a href="/shop">Scatch</a>

            </div>

            <div  class="flex items-center gap-10 mt-2 font-semibold">

                <a href="/shop" class="border-b-2 border-zinc-400">Shop</a>
                <a href="/cart" class="mr-13 flex relative">
                    <div>Cart</div>
                    <div class="inline-block"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg></div>
                    <div class="top-[-10px] right-[-10px] absolute bg-red-400 px-1 rounded-[50%] text-white text-xs"><%= user.cart.length %></div>
                </a>
                <a href="/profile">My Account</a>
                <a href="/users/logout" class="bg-[#b23b3b] text-white rounded-lg px-2 py-1 mr-15">Logout</a>

            </div>

        </div>

        <div class="flex bg-white">

            <div class="w-75 mt-20 fixed h-full tracking-tighter pl-15 py-12 left">

                <% if(success.length>0){ %>
                    <div class="absolute bottom-15 w-50 left-30 -translate-x-1/2 -translate-y-1/2 p-3 ">
                        <span class="inline-block mt-1 mb-1 text-white bg-red-400 p-2">
                            <%= success %>
                        </span>
                    </div>
                <% } %>

                <div>
                    <form action="">
                        <label class="text-xl" for="sortby">sort by </label>
                        <select class="border-2 border-zinc-300" name="sortby" id="sortby">
                            <option value="newest">Newest</option>
                            <option value="popular">Popular</option>
                        </select>
                    </form>
                </div>

                <div class="mt-15 flex-col gap-2">
                    <div><a class="hover:font-bold" href="">New Collection</a></div>
                    <div><a class="hover:font-bold" href="">All Products</a></div>
                    <div><a class="hover:font-bold" href="">Discounted Products</a></div>
                </div>

                <div class="mt-20 flex-col gap-2">
                    <div>Filter by:</div>
                    <div><a class="hover:font-bold" href="">Availability</a></div>
                    <div><a class="hover:font-bold" href="">Discount</a></div>
                </div>

            </div>

            <div class="">

                <div class="ml-75 py-6 pr-10 mt-25 gap-x-10 gap-y-10 flex flex-wrap right">
                    
                    <% all_products.forEach(function(product){ %>
                        <div class="min-h-60 w-48 bg-[<%= product.bgcolor %>] flex flex-col justify-between">

                            <div class="flex justify-center items-center h-43 w-full"><img class="h-[90%]" src="data:image/png;base64,<%= product.image.toString('base64') %>" alt="dfgh"></div>

                            <div class="flex text-sm justify-between min-h-17 w-full bg-[<%= product.panelcolor %>] p-2 items-center">

                                
                                <div class="text-[<%= product.textcolor %>]">

                                    <div class="font-semibold"><%= product.name %></div>
                                    <div class="flex items-center gap-2">

                                        <div>&#8377 <%= product.price %></div>
                                        <% if(product.discount>0){ %>
                                            <div class="bg-[<%= product.textcolor %>] text-[<%= product.panelcolor %>] px-2 rounded-full font-bold text-xs">
                                                -<%= product.discount %>%
                                            </div>
                                        <% } %>
                                        
                                    </div>
                                </div>

                                <a href="cart/addtocart/<%= product._id %>"><div class="text-[<%= product.textcolor %>] flex justify-center w-6 items-center pb-1 text-2xl font-black rounded-3xl bg-white h-6">+</div></a>

                            </div>

                        </div>
                    <% }) %>

                </div>

            </div>

        </div>

    </div>

</body>

</html>